body {
	margin: 25px; padding: 0px;
	font-size: 12px;
}
.border {
	margin: 0; margin-bottom: 25px;
	background-color: #eee;
	border: 3px soild #333;
	padding: 25px;
}	
#photos img{
border: 1px soild #000;
width: 75px;
height: 75px;
margin: 5px;
}
